/** {
	border: 1px solid red;
}*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
    height: 100%;
    max-width: 1200px;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

ol {
    list-style-position: inside;
}

li {
    margin-left: -30px;
    padding: 5px;
    white-space: nowrap;
}

li:last-child {
    padding-bottom: 10px;
}

li:hover {
    background-color: #e1e1e1;
    -webkit-tranform: scale(1.2);
    text-transform: scale(1.2);
}

#map {
    height: 100%;
    min-height: 600px;
    width: 100%;
    min-width: 800px;
}

#list {
    max-height: 300px;
    overflow-y: scroll;
}

#list-view {
    padding-bottom: 15px;
    position: relative;
}

#search-view {
    padding-bottom: 15px;
}

#searchTextField {
    margin-left: 10px;
}

.liButtons, .iwButton {
    /*float: right;*/
    height: 20px;
    width: 20px;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    display: inline-block;
    vertical-align: text-top;
    /*Taken from todo list mvc app*/
/*    margin: 0;
    padding: 0;*/
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    color: inherit;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

#liEditButton, #confirmEditButton {
    position: absolute;
    right: 70px;
    /*margin-right: 15px;*/
    padding-bottom: 5px;
}

#liDeleteButton {
    position: absolute;
    right: 50px;
    /*margin-right: 15px;*/
    padding-bottom: 5px;
}

#liEditButton:after, #iwEditButton:after {
    content: '✎';
}

#liDeleteButton:after, #iwDeleteButton:after {
    content: '✖';
}

#confirmEditButton:after, #iwConfirmEditButton:after {
    content: '✔';
}

#liEditButton:hover, #liDeleteButton:hover, #confirmEditButton:hover, #iwEditButton:hover, #iwDeleteButton:hover, #iwConfirmEditButton:hover  {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

#liEditButton:active, #liDeleteButton:active, #confirmEditButton:active, #iwEditButton:active, #iwDeleteButton:active, #iwConfirmEditButton:active {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
}

#iwEditButton, #iwDeleteButton, #iwConfirmEditButton {
    position: absolute;
    float: bottom;
    padding-bottom: 5px;
}

#iwEditButton, #iwConfirmEditButton {
    right: 30px;
}

#iwDeleteButton {
    right: 10px;
}

.iwDiv {
    position: relative;
    height: 100px;
    max-height: 300px;
}

.hidden {
    display: none;
}

/* Some Flexbox classes */
.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}
